/*center texts*/
.align-center{
    text-align: center;
}
/*center images*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
/*makes a box*/
.box{
    width: 400px;
    background:steelblue;
    padding: 20px;
    border: 5px solid black;
    margin: auto;
}
/*border for the box*/
.border-box {
    box-sizing: border-box;
  }

footer{
    background-color: slategray;
    color:black;
}
header{
    font-family:fantasy;
    color:rgb(0, 0, 0);
    background-color:steelblue ;
}
body{
    background-color:wheat;
}
main{
    font-family: fantasy;
}